/* Features */

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__icon-wrap {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: $bg-color-inactive;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  @include font-style(14px, null, 1.14, null, $text-color-title);

  margin-bottom: 10px;
  text-transform: uppercase;
}
.features__description {
  width: 270px;
}
