/* Hero */
.section--hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $bg-color-dark;
  background-image: linear-gradient($gradient-color, $gradient-color), url('../images/hero.jpg');
  text-align: center;
}

.hero-title {
  @include font-style(44px, 900, 1.36, 0.06em, $color-white);
  margin-bottom: 30px;
  text-transform: uppercase;
}
